.carousel{transform: scale(1);max-height: 100vh;min-height: calc(100vh-180px);overflow: hidden;background: #131D32;}
/* .carousel-item{transform: scale(1);max-height: 100vh;min-height: calc(100vh-180px);overflow: hidden;background: #131D32;} */

.carousel-caption{right: 0%;text-align: left;top: 30%;left: 10%;}
.h1-responsive{letter-spacing: 0.02em;font-size: 54px;font-weight: normal;text-align: left;text-transform: uppercase;line-height: 60px;color: #ffffff;margin-bottom: 20px;}
.explore{background: #131D32;border: 1px solid #2B2F53;box-shadow: inset 10px 10px 20px #080F1F;border-radius: 5px;color: #ffffff;text-align: center;text-transform: uppercase;font-size: 18px;font-weight: 500;padding: 10px 20px;margin-right: 10px;}
.more{background: #FC1785;box-shadow: 10px 20px 20px #080F1F;border-radius: 5px;color: #ffffff;text-align: center;text-transform: uppercase;font-size: 18px;font-weight: 500;padding: 10px 20px;border: 1px solid#FC1785;}

.carousel-item p{font-size: 17px;font-weight: normal;text-align: left;line-height: 27px;color:#ffffff;}
.elVideo{width:750px;float: right;height: 100vh;object-fit: cover;}
