.social-slider{width: 100%;position: relative;float: left;padding: 30px 0px 30px 0px;height: 700px;}
.social-slider .social-box{float: left;padding: 7px;;box-shadow: 10px 20px 20px #161830;border-radius: 15.5666px;border:1px solid #2971D5 ;background-blend-mode: overlay, normal;background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(11, 21, 41, 0.5) 0%, rgba(19, 29, 50, 0.29) 77.08%, rgba(19, 29, 50, 0.135) 100%)}
.slider-item-details{text-align: center;width: 100%;position: relative;float: left;margin-top: 10px;padding: 10px;}
.slider-item-details h6{font-size: 18px;font-weight: 400;text-align: center;line-height: 28px;color: #ffffff;text-transform: uppercase;-webkit-text-stroke: 1px #2971D5;}
.slider-item-details p{font-size: 14px;font-weight: normal;text-align: center;line-height: 24px;color: #ffffff;}
/* social-e courasel start */
.social-slider .owl-item > div {cursor: pointer;margin: 20% 0%;transition: margin 0.4s ease;}
.social-slider .owl-item.center > div {cursor: auto;margin: 0;}

.social-slider .owl-item:not(.center) > div{float: left;contain: '';border: 1px solid #2971D5;box-shadow: 10px 20px 20px #161830;border-radius: 16.2681px;background-blend-mode: overlay, normal;opacity: .3;}
  /* testing active center */
  .social-slider .owl-item.active.center .slider-item-details{font-size:40px;float: left;display: block;width: 100%;text-align: center;} 
  .social-slider .owl-item.active .slider-item-details{font-size: 15px;display: none;}
  .social-slider .owl-item .item .slider-item-details{display: none;}

.slider-title{width: 100%;position: relative;float: left;text-align: center;margin-bottom: 20px;padding: 15px}
.slider-title h1{font-size: 30px;font-weight: 700;text-align: center;text-transform: uppercase;color: #ffffff;line-height: 40px;margin-bottom: 15px;}
.slider-title p{font-size: 16px;font-weight: normal;text-align: center;color: #ffffff;line-height: 25px;}
.social-slider .owl-theme .owl-nav{display: none!important;}

    /* responsive.css */
    @media screen and (max-width: 61.938em) {
.slider-title h1{font-size: 23px;line-height: 33px;}
.social-slider{height: auto;margin-bottom: 0px;}
.watch-now{margin-top: 10px;}
    }