


.copy-wright{width: 100%;position: relative;float: left;background: #FC1785;padding: 20px 0px 20px 0px;text-align: center;}
.copy-wright p{font-size: 18px;font-weight: 500;text-align: center;color: #ffffff;line-height: 28px;}

.footer{width: 100%;position: relative;float: left;padding: 30px 0px 30px 0px;}
.footer .footer-content{width: 100%;position: relative;float: left;}
.footer .footer-content .footer-title{width: 100%;text-align: center;margin-bottom: 20px;}
.footer .footer-content .footer-title .title{font-size: 65px;font-weight: 900;text-align: center;line-height: 77px;color: #ffffff;text-transform: uppercase;letter-spacing: 0.02em;}
.footer .footer-content p{font-size: 18px;font-weight: normal;text-align: center;line-height: 28px;color: #ffffff;}
.footer .footer-content .footer-logo{margin: 20px 0px 20px 0px;text-align: center;width: 100%;}
.footer .footer-content .footer-logo img{width: 300px;}

.footer .footer-content .socialfoot{width: 100%; padding: 15px 0;text-align: center;}
.footer .footer-content .socialfoot ul{list-style: outside none none; margin: 0; padding: 0;}
.footer .footer-content .socialfoot ul li{display: inline-block; margin: 0 14px 10px 0px;}
.footer .footer-content .socialfoot ul li a{background: #131D32;width: 52px;height: 52px;border: 1px solid #2B2F53;box-shadow: inset 10px 10px 20px #080F1F;border-radius: 5px;}
.footer .footer-content .socialfoot ul li .fb{color: #ffffff;  display: block; font-size: 23px;text-align: center; text-decoration: none; transition: all 0.3s ease 0s;line-height: 35px;}
/* .footer .footer-content .socialfoot ul li .fb:hover{background-color: #ffffff; color: #f606f8; border: 2px solid #ffffff} */
/* .footer .footer-content .socialfoot ul li .btn--skew {transform: skew(-10deg);} */
.footer .footer-content .socialfoot ul li .btn{padding: 7px;}
/* .footer .footer-content .socialfoot ul li .btn--skew  span { transform: skew(10deg);display: inline-block;} */
.footer .footer-content .socialfoot ul li:last-child{margin-right: 0px;}
.footer .footer-content .socialfoot ul li a:hover{background: #FC1785;box-shadow: 10px 20px 20px #080F1F;transition: 0.3s linear;border: 1px solid #FC1785;}

/*------ subscribe-section----- */
.subscribe{width: 100%;position: relative;float: left;padding: 30px 0px 30px 0px;}
.subscribe .subscribe-box{background:radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(11, 21, 41, 0.5) 0%, rgba(19, 29, 50, 0.29) 77.08%, rgba(19, 29, 50, 0.135) 100%);background-blend-mode: overlay, normal;border: 1px solid #FC1785;;border-radius: 20px;width: 100%;float: left;position: relative;padding: 50px;box-shadow: inset 10px 10px 20px #080F1F;}
.subscribe .subscribe-box .subscribe-details{width: 100%;position: relative;float: left;padding: 15px;}
.subscribe .subscribe-box .subscribe-details h2{font-size: 33px;font-weight: 900;color: #ffffff;line-height: 45px;margin-bottom: 20px;text-transform: uppercase;}
.subscribe .subscribe-box .subscribe-details p{font-size: 17px;font-weight: normal;text-align: left;line-height: 27px;color: #ffffff;}
.subscribe .subscribe-box .subscribe-details .subscribe-form{width: 100%;position: relative;float: left;margin-top: 30px;}
.subscribe .subscribe-box .subscribe-details .subscribe-form .input-group{align-items: center;}
/* .subscribe .subscribe-box .subscribe-details .subscribe-form input{height: 60px;background-color: #131D32;border: 1px solid #2B2F53;box-shadow: inset 10px 10px 20px #080F1F;;border-radius: 10px!important;outline: none;z-index: 2;color: #ffffff;font-size: 16px;font-weight: normal;padding: 10px 46px 10px 22px;} */
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){margin-left: -32px;z-index: 2;}

.subscribe .subscribe-box .subscribe-details .subscribe-form .input-group-text{background: #FC1785;border: 1px solid #FC1785;box-shadow: 10px 20px 20px #161830;padding: 10px 30px;border-radius: 10px;color: #ffffff;text-transform: uppercase;}
.subscribe .subscribe-box .subscribe-details .subscribe-form .searchbox-wrap {display: flex;background: #131D32;box-shadow: inset 10px 10px 20px #080f1f;border: 1px solid #2B2F53;margin-left: auto;border-radius: 10px;margin-right: auto;height: 66px;}
.subscribe .subscribe-box .subscribe-details .subscribe-form .searchbox-wrap input {flex: 1 1;padding: 16px;font-size: 17px;font-weight: normal;width: 100%;border-radius: 10px;border-right: none;outline: none;border: none;color: #ffffff;box-shadow: inset 10px 10px 20px #080f1f;background: #131D32;}
.subscribe .subscribe-box .subscribe-details .subscribe-form .searchbox-wrap button {padding-right: 10px; -webkit-border-top-right-radius: 10px;-webkit-border-bottom-right-radius: 10px;-moz-border-radius-topright: 10px;-moz-border-radius-bottomright: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;background:none;border: none;outline: none;cursor: pointer;cursor: hand;border-left: none;}
.subscribe .subscribe-box .subscribe-details .subscribe-form .searchbox-wrap button span {padding:12px 25px;font-size: 18px;text-transform: uppercase;font-weight: 500 ;color: #fff;background-color: #FC1785;border-radius: 5px;border: 1px solid #FC1785;box-shadow: 10px 20px 20px #080F1F;}
.subscribe .subscribe-box .subscribe-details .subscribe-form .searchbox-wrap button span:hover {background-color:transparent;border: 1px solid #FC1785;box-shadow: none;}
.subscribe .subscribe-box .icon-img{position: absolute;top: -127px;right: 0px;}
.subscribe .subscribe-box .icon-img img{width:500px;}
.subscribe .subscribe-box .subscribe-details .subscribe-form .searchbox-wrap input::-webkit-input-placeholder { color: #ffffff  }
.subscribe .subscribe-box .subscribe-details .subscribe-form .searchbox-wrap input:-moz-placeholder { color: #ffffff}
.subscribe .subscribe-box .subscribe-details .subscribe-form .searchbox-wrap input::-moz-placeholder { color: #ffffff }
.subscribe .subscribe-box .subscribe-details .subscribe-form .searchbox-wrap input:-ms-input-placeholder { color: #ffffff}
/* .subscribe .subscribe-box .subscribe-details .subscribe-form .input-group-text span{transform: skew(10deg);display: inline-block;} */

/*--------- app-section -------*/
.app{width: 100%;position: relative;float: left;padding: 30px 0px 30px 0px;}
.app .app-box{padding: 50px;width: 100%;position: relative;float: left;border-radius: 20px;max-height: 492px;display: flex;align-items: center;margin-bottom: 200px; background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(11, 21, 41, 0.5) 0%, rgba(19, 29, 50, 0.29) 77.08%, rgba(19, 29, 50, 0.135) 100%);background-blend-mode: overlay, normal;box-shadow: inset 10px 10px 20px #080F1F;}
.app .app-box .app-detils{width: 100%;position: relative;float: left;}

.app .app-box .app-detils h2{font-size: 25px;font-weight: 900;text-align: left;text-transform: uppercase;line-height: 40px;color: #ffffff;margin-bottom: 20px;letter-spacing: 0.05em;}
.app .app-box .app-detils p{font-size: 17px;font-weight: normal;text-align: left;letter-spacing: 0.02em;color: #ffffff;line-height: 27px;}
.app .app-box .app-detils .google-app{width: 100%;position: relative;float: left;margin-top: 20px;display: flex;}
.app .app-box .app-detils .google-app .app-btn{background: #131D32;box-shadow: inset 10px 10px 20px #080F1F;border-radius: 5px;display: flex;padding: 10px 20px;border: 1px solid #2B2F53;align-items: center;margin-right: 20px;margin-bottom: 20px;justify-content: center;}
.app .app-box .app-detils .google-app .app-btn img{width: 35px;margin-right: 10px;}
.app .app-box .app-detils .google-app .app-btn p{font-size: 13px;font-weight: 100;text-align: left;text-transform: uppercase;color: #ffffff;line-height: 23px;}
.app .app-box .app-detils .google-app .app-btn .app-name{font-size: 18px;font-weight: normal;text-align: left;text-transform: capitalize;color: #ffffff;}

.app .app-box .mobile-img{width: 100%;position: relative;float: left;margin-top: 180px; overflow: hidden;}
/* .app .app-box .mobile-img iframe{margin: 0 auto;position: absolute;right: 20%;width: 500px;height: 500px;top: 20px;left: 0;right: 0;} */
.app .app-box .app-bg::after{background: url(/public/images/app-bg.png)center center;background-size: cover;content: "";position: absolute;top: 30px;right: 0px;z-index: 1;}

.app-title{width: 100%;position: relative;float: left;margin-bottom: 20px;}
.app-title h1{font-size: 35px;font-weight: 700;text-align: center;text-transform: uppercase;line-height: 45px;color: #ffffff;margin-bottom: 20px;}
.app-title p{font-size: 16px;font-weight: normal;text-align: center;line-height: 27px;color: #fff;}
.app-logo{width: 100%;}
.app-logo img{width: 100%;}


/*------- watch-section ---------*/
.watch-now{width: 100%;position: relative;float: left;padding: 30px 0px 30px 0px;}
.watch-box{ min-height: 500px;width: 100%;position: relative;float: left;background:radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(11, 21, 41, 0.5) 0%, rgba(19, 29, 50, 0.29) 77.08%, rgba(19, 29, 50, 0.135) 100%);border: 1px solid #2B2F53;box-shadow: inset 10px 10px 20px #080F1F;border-radius: 30px;padding: 30px;}
.watch-now .watch-title{letter-spacing: 0.02em;font-size: 40px;font-weight: 100;text-align: center;line-height: 50px;color: #ffffff;text-transform: uppercase;margin-bottom: 35px;}
.watch-now .watch-title strong{font-weight: 900;}
.video-play:before {position: absolute;content: '';width: 100%;height: 100%;top: 0;left: 0;background:rgba(66, 71, 73, 0.98);background-blend-mode: overlay, normal;opacity: .4;border-radius: 20px;border: 1px solid #2B2F53;box-shadow: inset 7.26667px -7.26667px 7.26667px rgba(2, 194, 106, 0.1), inset -7.26667px 7.26667px 7.26667px rgba(255, 255, 255, 0.1);border-radius: 20px;}
.video-play {min-height: 500px;background:url(/public/images/watch.png) center center;background-size: cover;border-radius: 20px;}
.play-btn {width: 94px;height: 94px;background: #FC1785;border-radius: 50%;display: block;position: absolute;left: calc(50% - 47px);top: calc(50% - 47px);overflow: hidden;box-shadow: inset 7.26667px -7.26667px 7.26667px rgba(2, 194, 106, 0.1), inset -7.26667px 7.26667px 7.26667px rgba(255, 255, 255, 0.1);}
.play-btn:before {content: "";position: absolute;width: 120px;height: 120px;-webkit-animation-delay: 0s;animation-delay: 0s;-webkit-animation: pulsate-btn 2s;animation: pulsate-btn 2s;-webkit-animation-direction: forwards;animation-direction: forwards;-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;-webkit-animation-timing-function: steps;animation-timing-function: steps;opacity: 1;border-radius: 50%;border: 5px solid rgba(255, 255, 255, 0.5);top: -15%;left: -13%;background: rgba(252, 23, 133, 1);}
 .play-btn:after {content: "";position: absolute;left: 50%;top: 50%;transform: translateX(-40%) translateY(-50%);width: 0;height: 0;border-top: 15px solid transparent;border-bottom: 15px solid transparent;border-left: 25px solid #ffffff;z-index: 100;transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);}
 @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  

/* The device with borders */
.smartphone {position: relative;width: 290px;height: 566px;margin: auto;border: 16px solid #37393a;border-top-width: 58px;border-bottom-width: 50px;border-radius: 36px;transform: matrix(-1, 0, 0, 1, 0, 0);}

/* The horizontal line on the top of the device */
.smartphone:before {content: '';display: block;width: 60px;height: 3px;position: absolute;top: -30px;left: 50%;transform: translate(-50%, -50%);background: #ffffff;border-radius: 10px;}

/* The circle on the bottom of the device */
.smartphone:after {content: '';display: block;width: 25px;height: 25px;position: absolute;left: 50%;bottom: -53px;transform: translate(-50%, -50%);background: #ffffff;border-radius: 50%;}

/* The screen (or content) of the device */
.smartphone .content {width: 100%;height: 100%;background: white;}





    /* responsive.css */
@media screen and (max-width: 61.938em) {
  .watch-now .watch-title{font-size: 27px;line-height: 37px;}
  .watch-box{padding: 15px;}
  .subscribe .subscribe-box .icon-img{position: relative;top: 0px;text-align: center;}
    .footer .footer-content .footer-title .title{font-size: 30px;line-height: 45px;}
    .app .app-box{padding: 30px;}
    .app .app-box{max-height: none;}
    .app .app-box .mobile-img{margin-top: 20px;}
    .app-center{justify-content: center;}
    .subscribe .subscribe-box .subscribe-details h2{font-size: 23px;line-height: 33px;font-weight: 700;}
}
@media (max-width: 480px) {
    .app .app-box .app-detils .google-app .app-btn{width: 100%;}
    .app .app-box .app-detils .google-app{display: block;}
    .subscribe .subscribe-box .subscribe-details .subscribe-form .searchbox-wrap{display: block;height: auto;}
    .subscribe .subscribe-box{padding: 15px;}
    .subscribe .subscribe-box .subscribe-details .subscribe-form .searchbox-wrap button span{width: 100%;float: left;}
    .subscribe .subscribe-box .subscribe-details .subscribe-form .searchbox-wrap button{width: 100%;float: left;text-align: center;padding-right: 0px;margin-top: 10px;padding-left: 0px;}
}

